{% extends 'CropAnalyserApp/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <h1>Welcome</h1>
    <form method="POST">
        <label>Select From Date</label>
        <input type="date" name="from_date">
        <label>Select To Date</label>
        <input type="date" name="to_date">
        <label>State:</label>
            <select id="state" name="state">
                <option value="000">-Select State-</option>
            </select>
        <br />
        <label>District:</label>
            <select id="district" name="district">
                <option value="000">-Select District-</option>
            </select>
        <br />
        <input type="radio" name="masking_method" value="Self Select Farmland"> Self Select Farmland
        <input type="radio" name="masking_method" value="Auto Detect Farmland"> Auto Detect Farmland
        <input type="submit" value="Submit">
    </form>
</div>
<script type="text/javascript" src='{% static "/js/states_and_districts.js" %}'></script>
{% endblock %}
