{% extends 'CropAnalyserApp/base.html' %}

{% block content %}
<div class="container" id="form">
  <div class="row">
      <div id="upload" class="col-sm-5">
        <label for="avatar">Upload a file:</label>

        <input type="file"
               id="avatar" name="avatar"
               accept="image/png, image/jpeg">
        
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <form method="POST">
            Select Month:<br>
            <select id="month">
                <option>January</option>
                
            </select><br>
            Select Year:<br>
            <select name="year">
                <option>2018</option>
                <option>2019</option>
            </select><br>
            Select State:<br>
            <select name="state">
                <option>Karnataka</option>
            </select><br>
            Select District:<br>
            <select name="district">
                <option>Mangalore</option>
            </select><br>
            
        </form>
    </div>
    <div id="center" class="row">
        <div  class="col-sm-12">
            <input type="radio" name="masking_method" value="Self Select Farmland"> Self Select Farmland
            <input type="radio" name="masking_method" value="Auto Detect Farmland"> Auto Detect Farmland
            
        </div>
        <div class="col-sm-12">
            <div class="submit"><input type="submit" value="Submit" ></div>
        </div>
        
        </div>
    
  </div>
    
</div>

<script type="text/javascript">

    var d = new Date();
    var monthArray = new Array();
    monthArray[1] = "February";
    monthArray[2] = "March";
    monthArray[3] = "April";
    monthArray[4] = "May";
    monthArray[5] = "June";
    monthArray[6] = "July";
    monthArray[7] = "August";
    monthArray[8] = "September";
    monthArray[9] = "October";
    monthArray[10] = "November";
    monthArray[11] = "December";

    for(m = 1; m <= 11; m++) {
        var optn = document.createElement("OPTION");
        optn.text = monthArray[m];
        optn.value = (m+1);
        document.getElementById('month').options.add(optn);
        console.log(document.getElementById('month'))
    }



</script>

{% endblock %}
