body{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: whitesmoke;
    padding: 20px;

}

.header-left{
    font-weight: bolder;
    font-size: 30px;
}

form{
    margin: 20px;
    padding: 20px;
    border: 2px solid skyblue;
    border-radius: 5px;
}

